body {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
}


/*Header*/

h2 {
    margin-top: 80px;
    font-size: 36px;
    font-weight: 600;
    margin-left: 16px;
    margin-bottom: 0px;
    margin-top: 36px;
}

p {
    margin-left: 16px;
    margin-right: 16px;
}

.container-kontakt {
    padding-top: 200px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container-kontakt img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    object-position: right;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px 11px 10px 2px rgba(0, 0, 0, 0.64);
}

.input-info {
    display: flex;
    flex-direction: column;
    background-color: rgba(152, 172, 151, 0.332);
    border-radius: 10px;
    padding-bottom: 20px;
    width: 400px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px 11px 10px 2px rgba(0, 0, 0, 0.64);
}

form {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


/*BB*/

.inputBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 30px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(152, 172, 151, 0.132);
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(152, 172, 151, 0.132);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: green;
    transform: translateX(10px) translateY(-7px);
    -webkit-transform: translateX(10px) translateY(-7px);
    -moz-transform: translateX(10px) translateY(-7px);
    -ms-transform: translateX(10px) translateY(-7px);
    -o-transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    margin-top: -6px;
    padding: 0 10px;
    background-color: rgba(152, 172, 151, 0.432);
    z-index: 99;
    border-left: 1px solid green;
    border-right: 1px solid green;
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid rgba(0, 128, 0, 0.7);
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.72);
}

.inputBox textarea:valid~span,
.inputBox textarea:focus~span {
    color: green;
    transform: translateX(10px) translateY(-7px);
    -webkit-transform: translateX(10px) translateY(-7px);
    -moz-transform: translateX(10px) translateY(-7px);
    -ms-transform: translateX(10px) translateY(-7px);
    -o-transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    margin-top: -6px;
    padding: 0 10px;
    background-color: rgba(152, 172, 151, 0.432);
    z-index: 99;
    border-left: 1px solid green;
    border-right: 1px solid green;
    letter-spacing: 0.2em;
}

.inputBox textarea:valid,
.inputBox textarea:focus {
    border: 1px solid rgba(0, 128, 0, 0.7);
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.72);
}


/*BB*/

button {
    width: 200px;
    height: 36px;
    margin-top: 24px;
    background-color: green;
    padding: 6px 24px 6px 24px;
    border: 1px solid green;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgba(0, 128, 0, 0.817);
}


/* Footer angepasst*/

.footer {
    margin-top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
}

@media screen and (max-width:1000px) {
    .container-kontakt {
        flex-direction: column;
    }
    .container-kontakt img {
        width: 400px;
        height: 300px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:800px) {
    .container-kontakt {
        flex-direction: column;
    }
    .container-kontakt img {
        width: 400px;
        height: 300px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:600px) {
    .container-kontakt {
        flex-direction: column;
    }
    .container-kontakt img {
        width: 300px;
        height: 200px;
        margin-bottom: 25px;
    }
    .input-info {
        width: 300px;
    }
    .input-info h2 {
        font-size: 20px;
        text-align: center;
    }
    .input-info p {
        font-size: 14px;
    }
    .inputBox {
        width: 200px;
    }
    textarea {
        max-height: 90px;
    }
    .inputBox span {
        font-size: 0.8rem;
    }
    .inputBox input:valid~span,
    .inputBox input:focus~span {
        font-size: 0.5rem;
        margin-top: -3px;
    }
    .inputBox textarea:valid~span,
    .inputBox textarea:focus~span {
        font-size: 0.5rem;
        margin-top: -3px;
    }
}

@media(max-width: 466px) {
    #recipeOfTheDayImg {
        height: 200px;
        width: 250px;
    }
    #text {
        width: 250px;
        height: 265px;
    }
    .footer {
        height: 120px;
    }
}

@media(max-width: 326px) {
    .footer {
        height: 140px;
    }
    #recipeOfTheDayImg {
        height: 200px;
        width: 200px;
    }
    #text {
        width: 200px;
        height: 265px;
    }
}